body {
    margin: 0;
}

.header {
    background-color: rgb(9, 43, 56);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.name {
    color: azure;
    font-size: 50px;
    font-family: "Lucida Handwriting", cursive;
    margin-left: 5pc;
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 50px;
    margin-right: 5pc;
}

a {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: rgb(175, 214, 230);
    text-decoration: none;
    font-size: 18px;
}

.section-one {
    margin-top: 1.5pc;
}

.destinations {
    display: flex;
    justify-content: center;
    gap: 1pc;
}

img {
    width: 250pt;
    height: 400pt;
    border: solid rgb(9,43,56);
    border-width: 2px;
    
}