body {
    margin: 0;
}

header {
    background-color: rgb(9, 43, 56);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.name {
    color: azure;
    font-size: 50px;
    font-family: "Lucida Handwriting", cursive;
    margin-left: 5pc;
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 50px;
    margin-right: 5pc;
}

a {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: rgb(175, 214, 230);
    text-decoration: none;
    font-size: 18px;
}

.title {
    font-size: 35px;
    font-family: "Lora",serif;
    font-weight: bold;
    padding-top: 5pc;
    padding-bottom: 2pc;
}

.subtext {
    font-size: 20px;
    width: 400px;
}

.section-one img {
    width: 990pt;
    height: 550pt;
}

.section-two {
    background-color: rgb(253, 253, 253);
    display: flex;
    justify-content: space-between;
    padding: 90px;
}

.section-two img {
    width: 600px;
    height: 360px;
    background-color: rgb(87, 88, 88);
}

.section-one-destinations {
    margin-top: 1.5pc;
}

.destinations {
    display: flex;
    justify-content: center;
    gap: 1pc;
}

#newyork, #thailand, #tanzania {
    width: 260pt;
    height: 420pt;
}

